<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Tech_Entreprenaur.com</title>
</head>
<body>
    <header>
        <div class="head">
        <img src="{{ url_for('static', filename='logo 1.svg') }}">
        <nav>
            <a class="" href="">About me</a>
            <a class="" href="">Skills</a>
            <a class="" href="">Projects</a>
            <button href="">Contact me</button>
        </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <h3>Hi , I am</h3>
            <h1>ZAAL</h1>
            <h4>Tech_Entreprenaur/Cloud_Architect</h4>
        </div>
    </main>
</body>
</html>